# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("../../Done/lab-subsetting-and-descriptive-stats/your-code/Orders.zip")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [94]:
# your code here
#Primero obtenemos la suma de ordenes por CistomerID
orders_agg = pd.DataFrame(orders.groupby('CustomerID').amount_spent.agg(sum))
orders_agg.reset_index(inplace = True)

#Obtenemos los quantiles necesarios para valcular los bins
max_val = orders_agg.amount_spent.max()
vip = orders_agg.amount_spent.quantile(0.95)
preffered =  orders_agg.amount_spent.quantile(0.75)

#Creamos los parámetros de corte para la clasificación
cutoffs = [0, preffered, vip, max_val]
l_labels = ['Other','Preferred', 'VIP']

#Categorizamos por los cortes obtenidos
orders_agg['segment'] = pd.cut(orders_agg.amount_spent, cutoffs, labels=l_labels)
orders_agg.head()

   CustomerID  amount_spent    segment
0       12346      77183.60        VIP
1       12347       4310.00  Preferred
2       12348       1797.24  Preferred
3       12349       1757.55  Preferred
4       12350        334.40      Other

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

In [95]:
orders_merged = orders_agg.merge(orders, on='CustomerID')
orders_grouped = orders_merged[orders_merged['segment']=='VIP'].Country.value_counts()
orders_grouped.head(1)

United Kingdom    84185
Name: Country, dtype: int64

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [97]:
orders_grouped2 = orders_merged[orders_merged['segment'].isin(['VIP','Preferred'])].Country.value_counts()
orders_grouped2.head(1)

United Kingdom    221635
Name: Country, dtype: int64